<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="1.2.1" targetFramework="net451" developmentDependency="true" />
  <package id="MediaLoanLibrary.Loans.PublicEvents" version="0.1.2.0" targetFramework="net451" />
  <package id="NServiceBus" version="5.0.3" targetFramework="net451" />
</packages>